#!/bin/sh

echo "Running IP Addr Replace"

LOCAL_IPV4=$(ec2metadata --local-ipv4)

if [ -f /etc/openvpn/server.conf ]; then
  echo "Changing OpenVPN IP"
  sed -i "s/<LOCAL_IPV4>/$LOCAL_IPV4/" /etc/openvpn/server.conf
fi

echo "Success"
exit 0
