[Unit]
Description=Import SSH Keys
Wants=consul.service
After=network.target consul.service cloud-init.service

[Service]
Type=oneshot
ExecStart=/usr/bin/set-ssh-keys.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
