[Service]
Environment="AWS_ACCESS_KEY_ID={{aws_access_key_id}}" "AWS_SECRET_ACCESS_KEY={{aws_secret_access_key}}" "VAULT_ADDR=http://127.0.0.1:8200"
PassEnvironment=AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY VAULT_ADDR
