[Unit]
Description=Setup IP
After=network.target
Before=docker.service datadog-agent.service consul.service nomad.service

[Service]
Type=oneshot
ExecStart=/usr/bin/set-ip.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
