[Unit]
Description=Local Network Setup
After=network.target docker.service

[Service]
Type=oneshot
ExecStart=docker network create -d bridge local
StandardOutput=journal

[Install]
WantedBy=multi-user.target
